<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Easy_Salud_V2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">EASY SALUD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <ion-icon class="menu" name="menu-outline"></ion-icon>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Nosotros <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Informacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sacar Cita</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contactenos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cuentanos tu Experiencia
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Comentarios</a>
                                <a class="dropdown-item" href="#">Califica Doctores</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <section id="hero">
            <div class="container">
                <div class="content-center topmargin-lg">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1>AYUDANOS A CUIDARTE</h1>
                    <p>Encuentra a los mejores profesionales del sector salud, califica su servicio y ayudanos a cuidarte</p>
                    <br />
                    <a class="btn btn-info" href="#" role="button">SACA TU CITA AHORA -></a>
                </div>
            </div>
        </section>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Easy_Salud_V2 - <a asp-area="" asp-page="/Privacy">Privacy</a>

        </div>
    </footer>
</body>
</html>
