/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Comic Neue', cursive;
}

h1 {
    background-color: whitesmoke;
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    color: black !important;
}

p {
    background-color: black;
    font-size: 18px;
    color: white !important;
    line-height: 1.8;
    margin-bottom: 0;
}

topmargin-sm {
    margin-top: 30px;
}

topmargin-lg {
    margin-top: 60px;
}

topmargin-xs {
    margin-top: 15px;
}


.navbar {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px
}

.nav-link {
    color: black;
}

navbar-toggle {
    font-size: 40px;
}

    navbar-toggle:focus {
        outline: none;
    }

#hero {
    background-image: url(salud.jpg);
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: white;
}

.footer {
    position: absolute;
    color: black !important;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}